div {
	position: absolute;
	background-color: orange;
	border-radius: 1em;
	text-align: center;
	top: 40%;
	left: 10%;
	width: 80%;
	padding: 1em;
}

h1 {
	font-size: xx-large;
	font-family: sans-serif;
	color: white;
}
p {
	font-size: large;
	font-family: sans-serif;
	color: white;
}