/*
 * Login page CSS code
 */
 /*Hide stuff*/
.noDisplay {
	display: none;
}

 input {
 	height:10%;
 	width: 70%;
 	margin-top: 0.5em;
 	margin-bottom: 0.5em;
 	margin-left: 15%;
 	margin-right: 15%;
 	font-size: 350%;
 }

 button {
 	width: 70%;
 	height: 10%;
 	margin-left: 15%;
 	margin-right: 15%;
 	margin-top: 0.5em;
 	margin-bottom: 0.5em;
 	font-size: 300%;

 }