/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Apr-2015, 01:21:08
    Author     : liamdiamond
*/


#postcodeInput {
    border: 5px solid black;
    width: 60%;
    height: 8%;
    font-size: 300%;
    font-weight: bold;
}

#postcodeDiv{
    text-align: center;
}

#mapDiv{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}