.main {
    margin-top:3em;
}

#reader{
    width:90%;
    height:40%;
    margin-left: 5%;
    margin-right: 5%;
}

#qrcode{
    float:right;
    margin-right: 5%;
    height:30%;
    width:30%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#decodeBtn, #uploadImgBtn{
    float:left;
    margin-left: 5%;
    margin-top:0.3em;
    margin-bottom: 0.3em;
    height:2.3em;
    font-size: 300%;
}
