.main {
    margin-top:3em;
}

#reader{
    width:90%;
    height:40%;
    margin-left: 5%;
    margin-right: 5%;
}

#qrcode{
    float:right;
    margin-right: 5%;
    height:30%;
    width:30%;
}

input[type=file]{
    float:center;
    margin-left: 5%;
    margin-top:1em;
    margin-bottom: 0.3em;
    height:2.3em;
    font-size: 300%;
}
#decodeBtn, #uploadImgBtn{
    float:left;
    margin-left: 5%;
    margin-top:0.3em;
    margin-bottom: 0.3em;
    height:2.3em;
    font-size: 300%;
}